{% extends "base.html" %}
{% block page_content %}
  <div class="row">
    <div class = "large-8 large-centered columns text-center">
      <p><h1>Links</h1></p>
      <p>Here is where I would put links to other projects we think are interesting, if I had any!</p>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class = "large-8 large-centered columns">
      <p><a href='http://darmc.harvard.edu'>Digital Atlas of Roman and Medieval Civilizations</a></br>
      <em>Our parent project; founded at Harvard in 2007!</em></p>

      <p><a href='http://pelagios-project.blogspot.com/'>Pelagios</a></br>
      <em>We use them to provide context for our places!</em></p>
    </div> 
  </div>

  

{% endblock %}