{% extends "base.html" %}
{% block page_content %}

<div class="row">
  <div class="large-8 large-centered columns text-center">
    </br>
    <h3>{{ title }}</h3>
  </div>
</div>

<div class="row">
  <div class="large-8 large-centered columns">
  {% if (plattrs[0][8] != '' and plattrs[0][9] != '') %}
    <script type="text/javascript">
      var map;
      $(document).ready(function(){
        map = new GMaps({
          el: '#map',
          lat: {{ plattrs[0][8] }},
          lng: {{ plattrs[0][9] }},
          zoom: 4,
          zoomControl : true,
          zoomControlOpt: {
              style : 'SMALL',
              position: 'TOP_LEFT'
          },
          panControl : false,
          streetViewControl : false,
          mapTypeControl: false,
          overviewMapControl: false
        });
        map.addMarker({
        lat: {{ plattrs[0][8] }},
        lng: {{ plattrs[0][9] }},
        title: "{{ title }}"
        });
      });
    </script>
  <div id="map"></div>
  {% else %}
  {{title}} is currently unlocated. <a href="mailto:darmc@harvard.edu">Contribute information about the location of this place.</a>
  {% endif %}
		</div>
</div>

<div class="row">
  <div class="large-8 large-centered columns text-center">
    </br></br>
    <h3>Associated Travelers</h3>
  </div>
</div>

<div class="row">
  <div class="large-8 large-centered columns">
      {% for place in plattrs %}
      <p><h4><strong><a href="/travelers/{{ place[-1] }}">{{ place[-1] }}</a></strong> <em><small>({{ place[11]}}) - {{ place[13] }} </small></em></h4></p>
      {% endfor %}
  </div>
</div>
</div>

<div class="row">
  <div class="large-8 large-centered columns text-center">
    </br></br>
      <h3>Statistics</h3>
    </br>
  </div>
</div>

<div class="row">
  <div class="large-8 large-centered columns">
    <p>
      <strong>{{ title }}</strong> was visited 
      <strong>{{ numvisits }}</strong> 
      {% if numvisits == 1 %} time {% else %} times {% endif %} by 
      <strong> {{ numtravelers}} </strong> 
      {% if numtravelers == 1 %} traveler. {% else %} travelers. {% endif %}
    </p>
    <p>
      <strong>{{ title }}</strong> was most commonly visited by: </br>
    </p>
  </div>
</div>

{% endblock %}