{% extends "base.html" %}
{% block page_content %}

<div class="container", style="width: 75%">
{% for bar in bars %}
  <div class="row">
    <div class="span4" style="float:left; width:20%">
      <h6> {{bar[0]}} </h6>
    </div>
    <div class="span8">
      <div class="progress">
      {% if bar[2] == '' %}
        <div class="progress-bar progress-bar-warning" style="width: 33%">
          <span class="sr-only">33% Complete (success)</span>
          <strong>People</strong>
        </div>
      {% else %}
        <div class="progress-bar progress-bar-success" style="width: 33%">
          <span class="sr-only">33% Complete (success)</span>
          <span class="glyphicon glyphicon-ok"></span><strong> People</strong>
        </div>
      {% endif %}

      {% if bar[3] == '' %}
        <div class="progress-bar progress-bar-warning" style="width: 34%">
          <span class="sr-only">34% Complete (success)</span>
          <strong>Offices</strong>
        </div>
      {% else %}
      <div class="progress-bar progress-bar-success" style="width: 34%">
        <span class="sr-only">33% Complete (success)</span>
        <span class="glyphicon glyphicon-ok"></span><strong> Offices</strong>
      </div>
      {% endif %}

      {% if bar[4] == '' %}
        <div class="progress-bar progress-bar-warning" style="width: 33%">
          <span class="sr-only">34% Complete (success)</span>
          <strong>Places</strong>
        </div>
      {% else %}
      <div class="progress-bar progress-bar-success" style="width: 33%">
        <span class="sr-only">33% Complete (success)</span>
         <span class="glyphicon glyphicon-ok"></span><strong> Places</strong>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}

</div>

{% endblock %}