{% extends "base.html" %}
{% block page_content %}

<div class="container">
  <div class="jumbotron">
    <h2 align="center">Welcome to the Prosopography of Mediterranean Travelers: AD 700-900</h2>

    <p><h2 align="center"><small>A Project of the <a href="http://darmc.harvard.edu">Digital Atlas of Roman and Medieval Civilizations</a></small></h2></p>

    <p>This website is based on the prosopography of Mediterranean travelers included in Michael McCormick's <em>Origins of the European Economy</em>, with additions and corrections by the author and a small team at Harvard University. </p>
    
    <p>The project is currently in an internal alpha stage, and if you have been given this link, we ask that you refrain from sharing it until we have had a chance to refine our implementation.</p>
    
    <a class="btn btn-lg btn-primary" href="/travelers" role="button">View the Prosopography (&alpha; 0.01) &raquo;</a>
  </div>
</div>

{% endblock %}