{% extends "base.html" %}
{% block page_content %}

<!-- title -->
<div class="row">
  <div class="large-11 large-centered columns text-center">
    </br>
    <h3>Welcome to the Prosopography of Mediterranean Travelers: AD 700-900</h3>
  </div>
</div>

<div class="row">
  <div class="large-8 large-centered columns text-center">
    <p>A Project of the <a href="http://darmc.harvard.edu">Digital Atlas of Roman and Medieval Civilizations</a></p>
  </div>
</div>

<!-- content -->
<div class="row">
  <div class="large-10 large-centered columns">
    <div class="panel">
      <p>This website is based on the prosopography of Mediterranean travelers included in Michael McCormick's <em>Origins of the European Economy</em>, with additions and corrections by the author and a small team at Harvard University. </p>
      
      <p>The project is currently in an internal alpha stage, and if you have been given this link, we ask that you refrain from sharing it until we have had a chance to refine our implementation.</p>
      </br>
      <a href="/travelers" class="button round">View the Prosopography &raquo;</a>
    </div>
  </div>
</div>

{% endblock %}