{% extends "base.html" %}
{% block page_content %}
		<!--override table style on this page only-->
		<style>
			.hiddenRow {
    		padding: 0 !important;
			} 
		</style>

		<!--traveler table-->
		<div class="container">
			<p><h2>Index of Travelers <small>(Click for references)</small></h2></p>
		</div>
    <div class="container">
    	<p></p>
		<table class="table table-hover" style="border-collapse:collapse;">
		<colgroup>
			<col span="1" style="width: 15%">
			<col span="1" style="width: 10%">
			<col span="1" style="width: 10%">
			<col span="1" style="width: 65%">
		</colgroup>
		<thead>
			<tr>
				<th>Name</th>
				<th>Birth</th>
				<th>Death</th>
				<th>Notes</th>
			</tr>
		</thead>
			{% for t in travelers %}
			<tr data-toggle="collapse", data-target="#hiderow{{ t.number }}" class="accordion-toggle">
				<td><a href="/travelers/{{ t.name }}">{{ t.name }}</a></td>
				<td><h6>{{ t.birthDate }}</h6></td>
				<td>{{ t.deathDate }}</td>
				<td><h6>{{ t.notes }}</h6></td>
			</tr>
			<tr>
				<td colspan="4" class="hiddenRow">
					<div class="accordian-body collapse" id="hiderow{{ t.number }}">
						<h5><em><small>{{ t.bibliography }}<small></em></h5>
					</div>
				</td>
			</tr>
	 		{% endfor %}
	 	</table>
	 	</div>

{% endblock %}
