{% extends "base.html" %}
{% block page_content %}
		<!--override table style on this page only-->
		<style>
			.hiddenRow {
    		padding: 0 !important;
			} 
		</style>

<!-- page title content -->
<div class="row">
  <div class = "large-10 large-centered columns">
		<p><h2>Index of Travelers</h2></p>
		<hr>
	</div>
</div>

{% for t in travelers %}
<div class="row">
  <div class = "large-10 large-centered columns">
  		<h4><i class="fi-torso"></i> <a href="/travelers/{{ t.name }}">{{ t.name }}</a> <small>({{t.birth}} - {{t.death}})</small></h4>
  		<p>{{ t.notes }}</p>
      <hr>
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}
